﻿<nav class="navbar position-fixed w-100 navbar-expand-lg bg-body-tertiary shadow-sm" style="height: 110px; z-index: 1000">
    <div class="container-fluid">
        <div class="px-4 w-100 d-flex justify-content-between align-items-center">
            <div style="color: #FF385C">
                <h3><i class="fa-solid fa-hotel"></i> HBS</h3>
            </div>
            <div>
                <div class="input-group shadow-sm bg-white align-items-center d-flex justify-content-between"
                     style="height: 65px; border: #c4c3be 1px solid; border-radius: 65px">
                    <input type="text" aria-label="Where" class="form-control no-outline bg-transparent ps-4"
                           placeholder="Location"
                           style="height: 100%; border: none; border-top-left-radius: 60px; border-bottom-left-radius: 60px;">
                    <div style="height: 60%; width: 1px; background-color: #c4c3be"></div>
                    <input type="date" aria-label="Check In" class="form-control no-outline bg-transparent ps-4"
                           placeholder="Check In"
                           style="height: 100%; border: none;">
                    <div style="height: 60%; width: 1px; background-color: #c4c3be"></div>
                    <input type="date" aria-label="Check Out" class="form-control no-outline bg-transparent ps-4"
                           placeholder="Check Out"
                           style="height: 100%; border: none;">
                    <div style="height: 60%; width: 1px; background-color: #c4c3be"></div>
                    <input type="number" aria-label="Who" class="form-control no-outline bg-transparent ps-4"
                           placeholder="Who"
                           style="height: 100%; border: none; border-top-right-radius: 60px; border-bottom-right-radius: 60px">
                    <div style="width: 65px; height: 100%; padding: 5px" >
                        <button class="btn no-outline w-100 h-100 shadow-sm" type="button"
                                style="border-radius: 65px; background-color: #FF385C">
                            <i class="fa-solid fa-magnifying-glass text-white"></i>
                        </button>
                    </div>
                </div>

            </div>
            <div class="d-flex align-items-center">

                <a class="btn me-3 p-2 d-flex align-items-center justify-content-center"
                   style="width: 55px; height: 55px; background-color: white; border-radius: 50%">
                    <i class="fa-solid fa-globe fs-5" style="color: #FF385C"></i>
                </a>

                <div>
                    <a class="dropdown-toggle text-decoration-none btn p-2 d-flex align-items-center justify-content-center dropdown" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" style="width: 55px; height: 55px; background-color: white; border-radius: 50%">
                        <i class="fa-solid fa-bars fs-5" style="color: #FF385C"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>