@using HotelManagementSystem_Web.Layout.UserLayout.Components
@inherits LayoutComponentBase
<div>
    <NavBar />
    <div class="container" style="padding-top: 135px">
        @Body 
    </div>
</div>