@page "/forgot-password"
@using HotelManagementSystem_Web.Layout.AuthLayout
@layout AuthLayout

@inject HttpClient _httpClient
@inject NavigationManager _navigation

<div class="card shadow-lg p-4" style="width : 80% ; max-width:500px">
    <div class="card-body">
        <h4 class="text-center mb-4">Forgot Password</h4>

        <EditForm Model="@forgotPasswordRequest" OnvalidSubmit="HandleForgotPassword">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mb-3">
                <label class="form-label">Email</label>
                <InputText class="form-control" @bind-Value="forgotPasswordRequest.Email" required />
            </div>
            <button type="submit" class="btn btn-danger w-100 mt-3">
                Reset Password
            </button>
        </EditForm>
    </div>
</div>

